<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <!-- Agregando estilos CSS -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <ficha-cliente>
      <div class="container">
        <div class="columns">
          <div class="column is-12">
            <banner-header>
              <section class="hero is-info is-bold welcome is-small">
                <div class="hero-body">
                  <div class="columns">
                    <div class="column is-6">
                      <h4 class="title is-4">Cliente: [[cliente.Name]] [[cliente.LastName]]</h4>
                      <h5 class="subtitle is-5">
                        <span class="icon">
                          <i class="fas fa-address-card" aria-hidden="true"></i>
                        </span>
                        ID Cliente: [[cliente.id]]</h5>

                    </div>
                    <div class="column is-6">
                      <h4>
                        <span class="icon">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        Email: [[cliente.Email]]</h4>
                      <h4>
                        <span class="icon">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                        Edad: [[cliente.Age]]</h4>
                      <h4>
                        <span class="icon">
                          <i class="fa fa-address-book" aria-hidden="true"></i>
                        </span>
                        Dirección: [[cliente.State]], [[cliente.Country]]
                      </h4>
                      <h4>
                        <span class="icon">
                          <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        Teléfono: [[cliente.Phone]]
                      </h4>
                    </div>
                  </div>


                  <h2 class="subtitle">Ficha de cliente</h2>

                </div>
              </section>
            </banner-header>

            <info-tarjetas>
              <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                  <div class="tile is-parent is-info">
                    <article class="tile is-child box">
                      <p class="title">1[[numProdComprados]]</p>
                      <p class="subtitle">Productos comprados</p>
                    </article>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <p class="title">2020[[lastSale]]</p>
                      <p class="subtitle">Fecha último producto</p>
                    </article>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <p class="title">$1000[[averageSales]]</p>
                      <p class="subtitle">Promedio de ventas</p>
                      <p><button on-click="obtenerClientes" type="button">Obtener información</button>
                      </p>
                    </article>
                  </div>
                </div>
              </section>
            </info-tarjetas>

            <info-tablero>
              <div class="columns">
                <!-- Search Cards -->
                <div class="column is-5">
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                        Lista de Productos
                      </p>
                      <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </a>
                    </header>
                    <div class="card-content">
                    </div>
                    <footer class="card-footer">
                      <a href="#" class="card-footer-item">Ver todos los productos</a>
                    </footer>
                  </div>
                </div>
                <div class="column is-7">
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                        Datos adicionales del cliente
                      </p>
                      <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </a>
                    </header>
                    <div class="card-content">
                      <label class="label ">Nombre Completo: <span class="has-text-weight-light">[[cliente.Name]]
                          [[cliente.LastName]]</span></label>
                      <label class="label ">Fecha de Nacimiento: <span
                          class="has-text-weight-light">[[cliente.Birthdate]][[cliente.BirthdateShort]]</span></label>
                      <label class="label ">Edad: <span class="has-text-weight-light">[[cliente.Age]]</span></label>
                      <label class="label ">Email: <span class="has-text-weight-light">[[cliente.Email]]</span></label>
                      <label class="label ">Teléfono: <span
                          class="has-text-weight-light">[[cliente.Phone]]</span></label>
                      <label class="label ">Profesión: <span
                          class="has-text-weight-light">[[cliente.Employee]]</span></label>
                      <label class="label ">Dirección: <span class="has-text-weight-light">[[cliente.Address]],
                          CP:[[cliente.PostalCode]]</span></label>
                      <span class="has-text-weight-light">[[cliente.State]],[[cliente.Country]] </span>
                    </div>

                  </div>

                </div>

              </div>
            </info-tablero>
          </div>
          <!-- End column is-10 -->
        </div>
        <!-- End columns -->
        <hr>
      </div>
      <!-- End Container -->
    </ficha-cliente>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    window.addEventListener('WebComponentsReady', (event) => {
      console.log('DOM fully loaded and parsed');
    });
    class GestorClientes extends Polymer.Element {
      static get is() {
        return 'gestor-clientes';
      }
      static get properties() {
        return {
          cliente: {
            type: Array,
            notify: true
          },
        };
      }

      obtenerClientes() {
        var url_string = location.href
        var url_id = url_string.substr(url_string.length - 24);
        var full_url = "http://localhost:8080/api/clientes/" + url_id
        console.log(url_string);
        console.log(url_id);
        var request = new XMLHttpRequest();
        request.open("GET", full_url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        //this.clientes = JSON.parse(request.responseText).value;
        this.cliente = JSON.parse(request.responseText);
        this.cliente.length ? this.cliente.BirthdateShort = this.cliente.Birthdate.split("T", 1)[0] : this.cliente
          .BirthdateShort = "";
        console.log(this.cliente);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>