<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="tablero-gestion">
  <template>
    <!-- Agregando estilos CSS -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <tablero>

      <div class="container">
        <div class="columns">
          <div class="column is-10">

            <banner-header>
              <section class="hero is-info is-bold welcome is-small">
                <div class="hero-body">
                  <div class="container">
                    <h1 class="title">Hola [[username]]</h1>
                    <h2 class="subtitle">Tablero de administración</h2>
                  </div>
                </div>
              </section>
            </banner-header>

            <info-tarjetas>
              <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                  <div class="tile is-parent is-info">
                    <article class="tile is-child box">
                      <p class="title">[[clientes]]</p>
                      <p class="subtitle">Clientes totales</p>
                    </article>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <p class="title">[[clientesMios.length]]</p>
                      <p class="subtitle">Mis clientes</p>
                    </article>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <p class="title">[[numProductosVend]]</p>
                      <p class="subtitle"># de productos vendidos</p>
                    </article>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <p class="title">$[[averageSales]]</p>
                      <p class="subtitle">Promedio de ventas</p>
                      <p><button on-click="obtenerClientes" type="button">Obtener Clientes</button>
                      </p>
                    </article>
                  </div>
                </div>
              </section>
            </info-tarjetas>

            <info-tablero>
              <div class="columns">
                <!-- Sales Cards -->
                <div class="column is-6">
                  <div class="card events-card">
                    <header class="card-header">
                      <p class="card-header-title">
                        Lista de clientes
                      </p>
                      <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </a>
                    </header>

                    <div class="card-table">
                      <div class="content">
                        <table class="table is-fullwidth is-striped is-narrow is-hoverable is-fullwidth">
                          <tbody>
                            <template is="dom-repeat" items="{{clientesMios}}">
                              <tr>
                                <td>
                                  <emm class="fas fa-address-book"></emm>
                                </td>
                                <td>[[item.Name]] [[item.LastName]]</td>
                                <td class="level-right"><a class="button is-small is-primary" href=/ficha-cliente/[[item.id]] target="_blank">Ver más</a></td>
                              </tr>
                            </template>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <button class="card-footer-item" on-click="obtenerClientes">Ver todos</button>
                      <!-- <a href="#" class="card-footer-item">Ver todos</a> -->
                    </footer>



                  </div>
                </div>

                <!-- Search Cards -->
                <div class="column is-6">
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                        Buscar
                      </p>
                      <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </a>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <div class="field has-addons">
                          <p class="control">
                            <span class="select">
                              <select name="nombre">
                                <option>ID Cliente</option>
                                <option>Nombre</option>
                                <option>Estado</option>
                              </select>
                            </span>
                          </p>
                          <p class="control is-expanded">
                            <input class="input" class="input" type="text" placeholder="Buscar" value="[[idCliente]]">
                          </p>
                          <p class="control">
                            <a class="button is-info" href="/ficha-cliente/[[idCliente]]">
                              <span class="icon is-medium is-right">
                                <em class="fa fa-search"></em>
                              </span>
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                        User Search
                      </p>
                      <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </a>
                    </header>
                    <search>
                      <div class="card-content">
                        <div class="content">
                          <div class="control has-icons-right">
                            <input class="input is-normal" type="text" placeholder="">
                            <span class="icon is-medium is-right">
                              <em class="fa fa-search"></em>
                            </span>
                          </div>
                        </div>
                      </div>
                    </search>
                  </div>
                </div>

              </div>
            </info-tablero>
          </div>
          <!-- End column is-9 -->
        </div>
        <!-- End columns -->
        <hr>
      </div>
      <!-- End Container -->
    </tablero>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TableroGestion extends Polymer.Element {
      static get is() {return 'tablero-gestion';}
      static get properties() {
        return {
          username: {
            type: String,
            value: 'Daniel'
          },
          numClientes: {
            type: Number,
            value: 500
          },
          idCliente: {
            type: String,
            value: "5ef838fc2efb5132bc510a00"
          },
          misClientes: {
            type: Number,
            value: 50
          },
          numProductosVend: {
            type: Number,
            value: 120
          },
          averageSales: {
            type: Number,
            value: 5000
          },
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes() {
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:8080/api/clientes", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText).length;
        console.log(this.clientes);
        //console.log(this.clientes.length);

        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:8080/api/clientes/published", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        //this.clientes = JSON.parse(request.responseText).value;
        this.clientesMios = JSON.parse(request.responseText);
        console.log(this.clientesMios);
        console.log(this.clientesMios.length);
      }

    }

    window.customElements.define(TableroGestion.is, TableroGestion);
  </script>
</dom-module>