<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="registro-clientes">
  <template>
    <!-- Agregando estilos CSS -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Aquí va el código de la página -->

    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Registro de nuevos clientes
          </h1>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="container">

          <input-name class="field">
            <label class="label">Nombre Completo</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Pedro Perez Pereira" value="{{name::input}}">
              <span class="icon is-small is-left">
                <em class="fas fa-user"></em>
              </span>
            </div>
          </input-name>

          <input-birthdate class="field">
            <label class="label">Fecha de Nacimiento</label>
            <div class="control has-icons-left">
              <input class="input" type="date" placeholder="" value="{{birthdate::input}}">
              <span class="icon is-small is-left">
                <em class="fas fa-calendar"></em>
              </span>
            </div>
          </input-birthdate>

          <input-email class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
              <input class="input" type="email" placeholder="pedro.perez@bbva.com" value="{{email::input}}">
              <span class="icon is-small is-left">
                <em class="fas fa-envelope"></em>
              </span>
            </div>
          </input-email>
          <input-phone class="field">
            <label class="label">Teléfono</label>
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static has-icons-left">
                      <span class="icon is-small is-left">
                        <em class="fas fa-phone"></em>
                      </span>
                      &nbsp; +52
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="tel" placeholder="Tu teléfono" value="{{phone::input}}">
                  </p>
                </div>
                <p class="help">Ingresa tu teléfono a 10 digitos</p>
              </div>
            </div>
          </input-phone>

          <input-employee class="field">
            <label class="label">Profesión</label>
            <div class="control has-icons-left">
              <input class="input" type="test" placeholder="" value="{{employee::input}}">
              <span class="icon is-small is-left">
                <em class="fas fa-briefcase"></em>
              </span>
            </div>
          </input-employee>

          <input-adress class="field">
            <label class="label">Dirección</label>
            <div class="control">
              <textarea class="textarea" placeholder="Ingresa los detalles de la dirección"></textarea>
            </div>
          </input-adress>

          <input-state>
            <label class="label">Estado</label>
            <div class="select" value="{{state::input}}">
              <select>
                <option value=AGS> Aguascalientes </option>
                <option value="BCN">Baja California </option>
                <option value="BCS">Baja California Sur </option>
                <option value="CAM">Campeche </option>
                <option value="CHP">Chiapas </option>
                <option value="CHI">Chihuahua </option>
                <option value="DIF">Ciudad de México </option>
                <option value="COA">Coahuila </option>
                <option value="COL">Colima </option>
                <option value="DUR">Durango </option>
                <option value="GTO">Guanajuato </option>
                <option value="GRO">Guerrero </option>
                <option value="HGO">Hidalgo </option>
                <option value="JAL">Jalisco </option>
                <option value="MEX">México </option>
                <option value="MIC">Michoacán </option>
                <option value="MOR">Morelos </option>
                <option value="NAY">Nayarit </option>
                <option value="NLE">Nuevo León </option>
                <option value="OAX">Oaxaca </option>
                <option value="PUE">Puebla </option>
                <option value="QRO">Querétaro </option>
                <option value="ROO">Quintana Roo </option>
                <option value="SLP">San Luis Potosí </option>
                <option value="SIN">Sinaloa </option>
                <option value="SON">Sonora </option>
                <option value="TAB">Tabasco </option>
                <option value="TAM">Tamaulipas </option>
                <option value="TLX">Tlaxcala </option>
                <option value="VER">Veracruz </option>
                <option value="YUC">Yucatán </option>
                <option value="ZAC">Zacatecas </option>
              </select>
            </div>
          </input-state>


          <div class="field ">
            <separacion class="field-label">
              <!-- Left empty for spacing -->
            </separacion>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-info">
                    <span class="icon is-small is-left">
                      <em class="fas fa-user-plus"></em>
                    </span>
                    &nbsp; &nbsp; Registrar cliente
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroClientes extends Polymer.Element {
      static get is() {
        return 'registro-clientes';
      }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes() {
        //dostuff
      }
    }

    window.customElements.define(RegistroClientes.is, RegistroClientes);
  </script>
</dom-module>