<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-app">
  <template>
    <!-- Agregando estilos CSS -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <section class="hero is-fullheight is-light is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-half is-offset-one-quarter">
            <h3 class="title has-text-black">Iniciar sesión</h3>
            <hr class="login-hr is-black">
            <div class="box" is-grey-light>
              <figure class="avatar">
                <img src="https://placehold.it/128x128" alt="Mi imagen de usuario" class="is-rounded">
              </figure>
              <form>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-medium is-focused" type="email" placeholder="Email" value="{{email::input}}" autofocus>
                    <span class="icon is-medium is-left">
                      <em class="fas fa-envelope"></em>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-medium" type="password" placeholder="Contraseña" value="{{password::input}}">
                    <span class="icon is-medium is-left">
                      <em class="fas fa-lock"></em>
                    </span>
                  </p>
                </div>
                <a href="../inicio"><button type="button" class="button is-block is-info is-medium is-fullwidth">
                  <em class="fa fa-sign-in-alt" aria-hidden="true"></em> Iniciar sesión</button></a>
                

              </form>
            </div>
            <p class="has-text-grey">
              <a href="#">Registrarse</a> &nbsp;·&nbsp;
              <!-- <a href="#">He olvidado la contraseña</a> &nbsp; -->
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <!-- <button on-click="testlogin()" type="button" name="button" class="btn btn-success">Ingresar</button> -->
      <a href="../inicio" ><button type="button" name="button" class="btn btn-success">Ingresar</button></a>
    </div>
    <div class="row" hidden$={{!logado}}>
      <span>Bienvenido a la aplicación</span>
    </div>
    </div>
    <iron-ajax id="doLogin" url="http://localhost:8080/login" content-type="application/json" crossDomain: true
      dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse" on-error="showError">
    </iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() {
        return 'login-app';
      }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      testlogin() {
        Window.alert(this.logado);
        return !this.logado ? true : false;
      }

      login() {
        var loginData = {
          "email": this.email,
          "password": this.password
        };
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log('Petición enviada');
      }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.logado = true;
      }
      showError(error) {
        console.log("Hubo un error");
        alert("Datos ingresados incorrectos, valide");
        console.log(error);
        this.logado = false;
      }
    }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>