<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="nav-bar">
  <template>
    <!-- Agregando estilos CSS -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <nav class="navbar is-dark is-bold">
      <div class="navbar-brand ">
        <a class="navbar-item" href="#">
          <img src="/images/tiled-view-aqua.png" alt="Gestión de clientes">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
  
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="#">
            Inicio
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">
              Herramientas
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="#">
                Mis clientes
              </a>
              <a class="navbar-item" href="#">
                Alta de productos
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="#">
                Alta de Usuarios
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="#">
                Acerca de
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="#">
                Cerrar sesión
              </a>
            </div>
          </div>
        </div>
  
        <navbar class="navbar-end">
          <navbar-item class="navbar-item">
            <field class="field is-grouped">
              <p class="control">
              </p>
              <p class="control">
                <a class="button is-primary"
                  href="#">
                  <span class="icon">
                    <em class="fas fa-user"></em>
                  </span>
                  <span>Mi cuenta</span>
                </a>
              </p>
            </field>
          </navbar-item>
        </navbar>
      </div>
    </nav>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NavBar extends Polymer.Element {
      static get is() { return 'nav-bar'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes() {
        var request = new XMLHttpRequest();
        //request.open("GET", "https://api.mlab.com/api/1/databases/dmartinez/collections/Clientes?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt", false);
        request.open("GET", "http://localhost:3000/Clientes", false);
        //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }
    }

    window.customElements.define(NavBar.is, NavBar);
  </script>
</dom-module>
