<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="registro-usuarios">
  <template>
    <!-- Agregando estilos CSS -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Aquí va el código de la página -->

    <section class="hero is-warning is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Registro de usuarios
          </h1>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="container">

          <input-name class="field">
            <label class="label">Nombre Completo</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Pedro Perez Pereira" value="{{name::input}}">
              <span class="icon is-small is-left">
                <em class="fas fa-user"></em>
              </span>
            </div>
          </input-name>

          <input-birthdate class="field">
            <label class="label">Fecha de Nacimiento</label>
            <div class="control has-icons-left">
              <input class="input" type="date" placeholder="" value="{{birthdate::input}}">
              <span class="icon is-small is-left">
                <em class="fas fa-calendar"></em>
              </span>
            </div>
          </input-birthdate>

          <input-phone class="field">
            <label class="label">Teléfono</label>
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static has-icons-left">
                      <span class="icon is-small is-left">
                        <em class="fas fa-phone"></em>
                      </span>
                      &nbsp; +52
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="tel" placeholder="Tu teléfono" value="{{phone::input}}">
                  </p>
                </div>
                <p class="help">Ingresa tu teléfono a 10 digitos</p>
              </div>
            </div>
          </input-phone>

          <input-email class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
              <input class="input" type="email" placeholder="pedro.perez@bbva.com" value="{{email::input}}">
              <span class="icon is-small is-left">
                <em class="fas fa-envelope"></em>
              </span>
            </div>
          </input-email>
          <input-password class="field">
            <label class="label">Contraseña</label>
            <div class="control has-icons-left">
              <input class="input" type="password" placeholder="Contraseña" value="{{password::input}}">
              <span class="icon is-small is-left">
                <em class="fas fa-lock"></em>
              </span>
            </div>
          </input-password>
          <input-password2 class="field">
            <label class="label">Ingresa de nuevo la contraseña</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Contraseña" value="{{password::input}}">
              <span class="icon is-small is-left">
                <em class="fas fa-lock"></em>
              </span>
            </div>
          </input-password2>

          

          <div class="field ">
            <separacion class="field-label">
              <!-- Left empty for spacing -->
            </separacion>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-info">
                    <span class="icon is-small is-left">
                      <em class="fas fa-user-plus"></em>
                    </span>
                    &nbsp; &nbsp; Registrar usuario
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroUsuarios extends Polymer.Element {
      static get is() {
        return 'registro-usuarios';
      }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes() {
        //dostuff
      }
    }

    window.customElements.define(RegistroUsuarios.is, RegistroUsuarios);
  </script>
</dom-module>