<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="component-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    ComponentApp
    <h2>Hello [[prop1]]!</h2>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponentApp extends Polymer.Element {
      static get is() { return 'component-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'component-app'
          }
        };
      }
    }

    window.customElements.define(ComponentApp.is, ComponentApp);
  </script>
</dom-module>
